<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Note Form</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/formStyle.css' %}" class="rel">
</head>

<body>
    <div class="container-sm shadow-lg rounded bg-dark bg-opacity-10 text-white">
        <div class="container-sm rounded bg-header">
            {% include 'navbar.html' %}
        </div>

        <div class="container-sm rounded bg-opacity-75">
            <form class="align-self-center" action="" method="post">
                {% csrf_token %}

                <p></p>
                <div class="form-group m-2">
                    <label class="form-label">To</label>
                    <input type="text" name="to" class="form-control" placeholder="Receiver's name" required=True
                        oninvalid="this.setCustomValidity('Please enter a valid name')" oninput="setCustomValidity('')">
                </div>
                <div class="form-group m-2">
                    <label class="form-label">From</label>
                    <input type="text" name="by" class="form-control" placeholder="Sender's name" required=True
                        oninvalid="this.setCustomValidity('Please enter a valid name')" oninput="setCustomValidity('')">
                </div>
                <div class="form-group m-2">
                    <label class="form-label">Title</label>
                    <input type="text" name="title" class="form-control" placeholder="Note title" required=True
                        oninvalid="this.setCustomValidity('Please enter a valid title')"
                        oninput="setCustomValidity('')">
                </div>
                <div class="form-group m-2">
                    <label class="form-label">Message</label>
                    <textarea class="form-control" name="message" rows="3" placeholder="Enter your message"
                        required=True oninvalid="this.setCustomValidity('Please enter a valid message')"
                        oninput="setCustomValidity('')"></textarea></textarea>
                </div>

                <!-- <div class="form-group">
                                    {{ form.to.label_tag }}
                                    <br> {{ form.to }}
                                </div>
                                <div class="form-group">
                                    {{ form.by.label_tag }} <br> {{ form.by }}
                                </div>
                                <div class="form-group">
                                    {{ form.title.label_tag }} <br> {{ form.title }}
                                </div>
                                <div class="form-group">
                                    {{ form.message.label_tag }} <br> {{ form.message }}
                                </div> -->

                <!-- <table class="table table-hover required needs-validation">
                                    {{ form.as_table }}
                                </table> -->


                <label></label>
                <div class="col-auto m-2">
                    <button type="submit" class="btn" value="submit">Submit</button>
                </div>
            </form>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>
<!-- <table>
        {{ form.as_table }}
    </table> -->


</html>