<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/notelistStyle.css' %}" class="rel">
    <title>Note List</title>
</head>

<body>

    <div class="container shadow-lg rounded bg-dark bg-opacity-25">
        <div class="container rounded bg-header">
            {% include 'navbar.html' %}

        </div>

        <label></label>

        {% for note in notes %}
        <div class="card border-0 bg-opacity-10">
            <h5 class="card-header text-light bg-header"><i>{{ note.title }}</i></h5>
            <div class="card-body">
                <p class="card-text">From: {{ note.by }} <br> To: {{ note.to }} </p>
                <!-- <p class="card-text">To: {{ note.to }}</p> -->
                <p class="card-text">{{ note.message }}</p>
            </div>
        </div>
        <label></label>
        {% endfor %}


    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

</body>

</html>