<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Friend Form</title>
    </head>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
    <br>
    <a href="http://localhost:8000/lab-3"><button>Friend List</button></a>
</html>