<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      table, th, td {
        border: 2px solid rgb(24, 158, 175);
        border-radius: 10px;
        border-collapse: collapse;
      }
      th, td {
        padding: 5px;
      }
    </style>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table style="width: 80%">
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      {% for friend in friends %}
      <tr>
        <td>{{ friend.name }}</td>
        <td>{{ friend.npm }}</td>
        <td>{{ friend.birth_date }}</td>
      </tr>
      {% endfor %}
    </table>
    <br>
    <a href="add"><button>Add Friend</button></a>
  </body>
</html>
