<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      table, th, td {
        border: 2px solid rgb(24, 158, 175);
        border-radius: 10px;
        border-collapse: collapse;
      }
      th, td {
        padding: 5px;
      }
    </style>
    <meta charset="UTF-8" />
    <title>Notes</title>
  </head>
  <body>
    <table style="width: 80%">
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% for note in notes %}
      <tr>
        <td>{{ note.by }}</td>
        <td>{{ note.to }}</td>
        <td>{{ note.title }}</td>
        <td>{{ note.message }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
