body {
    padding: 3%;
    background-image: url('https://i.imgur.com/kVvwS2k.gif') !important;
    background-color:  rgb(10, 63, 65) !important;
    background-size: auto;
}

.container-sm {
    padding: 1%;
}

input:hover,
textarea:hover {
    transition: 0.3s;
    background-color: rgb(211, 162, 72) !important;
}

input,
textarea {
    transition: 0.3s;
    color: white !important;
    background-color: rgba(128, 128, 128, 0.452) !important;
}

input:invalid,
textarea:invalid {
    background-color: rgba(153, 153, 153, 0.329);
}

.btn {
    color: aliceblue !important;
    background-color: rgb(19, 85, 116) !important;
    opacity: 0.6;
    transition: 0.3s;
}

.btn:hover {
    opacity: 1;
}

.bg-header {
    background-color: rgb(0, 80, 126) !important;
}