body {
    padding: 3%;
    background-color:  rgb(10, 63, 65) !important;
    background-image: url('https://i.imgur.com/kVvwS2k.gif') !important;
    background-size: auto;
}

.table {
background: fixed;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(238, 209, 82, 0.815) !important;
}

table td {
word-wrap: break-word;
max-width: 1px;
}

.container {
padding: 1%;
}
.bg-header {
    background-color: rgb(0, 80, 126) !important;
}