body {
    padding: 3%;
    background-color: rgb(10, 63, 65) !important;
    background-image: url('https://i.imgur.com/kVvwS2k.gif') !important;
    background-size: auto;
}

.container {
    padding: 1%;
}

.card {
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.185) !important;
    color: white;
}

.card-body:hover {
    background-color: rgba(238, 209, 82, 0.335);
    transition: 0.5s;
}

.bg-header {
    background-color: rgb(0, 80, 126) !important;
}